[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-newspaper{
	width: 24px;
	height: 20px;
	background: url(../img/icons/newspaper.png) no-repeat;
}

.icon-board{
	width: 24px;
	height: 24px;
	background: url(../img/icons/board.png) no-repeat;
}

.icon-arrow-right{
	width: 23px;
	height: 11px;
	background: url(../img/icons/arrow-right.png) no-repeat;
}

.icon-location-big{
	width: 64px;
	height: 64px;
	background: url(../img/icons/location-big.png) no-repeat;
}

.icon-phone-big{
	width: 57px;
	height: 57px;
	background: url(../img/icons/phone-big.png) no-repeat;
}

.icon-conversations-big{
	width: 64px;
	height: 64px;
	background: url(../img/icons/conversations-big.png) no-repeat;
}

.icon-facebook{
	width: 10px;
	height: 18px;
	background: url(../img/icons/facebook.png) no-repeat;
}

.icon-instagram{
	width: 18px;
	height: 18px;
	background: url(../img/icons/instagram.png) no-repeat;
}

.icon-pdf{
	width: 59px;
	height: 64px;
	background: url(../img/icons/pdf.png) no-repeat;
}

.icon-doc{
	width: 59px;
	height: 64px;
	background: url(../img/icons/doc.png) no-repeat;
}

.icon-download{
	width: 40px;
	height: 40px;
	background: url(../img/icons/download.png) no-repeat;
}

.icon-coins{
	width: 55px;
	height: 46px;
	background: url(../img/icons/coins.png) no-repeat;
}

.icon-piggy-bank{
	width: 55px;
	height: 52px;
	background: url(../img/icons/piggy-bank.png) no-repeat;
}

.icon-chart-grow{
	width: 54px;
	height: 55px;
	background: url(../img/icons/chart-grow.png) no-repeat;
}

.icon-umbrella{
	width: 55px;
	height: 55px;
	background: url(../img/icons/umbrella.png) no-repeat;
}

.icon-equipment{
	width: 54px;
	height: 54px;
	background: url(../img/icons/equipment.png) no-repeat;
}

.icon-leaf{
	width: 38px;
	height: 55px;
	background: url(../img/icons/leaf.png) no-repeat;
}

.icon-nesting-doll{
	width: 38px;
	height: 55px;
	background: url(../img/icons/nesting-doll.png) no-repeat;
}

.icon-shield{
	width: 48px;
	height: 55px;
	background: url(../img/icons/shield.png) no-repeat;
}