[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-newspaper{
	width: 24px;
	height: 20px;
	background: url(../img/icons/newspaper.png) no-repeat;
}

.icon-arrow-right{
	width: 23px;
	height: 11px;
	background: url(../img/icons/arrow-right.png) no-repeat;
}

.icon-location-big{
	width: 64px;
	height: 64px;
	background: url(../img/icons/location-big.png) no-repeat;
}

.icon-phone-big{
	width: 57px;
	height: 57px;
	background: url(../img/icons/phone-big.png) no-repeat;
}

.icon-conversations-big{
	width: 64px;
	height: 64px;
	background: url(../img/icons/conversations-big.png) no-repeat;
}

.icon-facebook{
	width: 10px;
	height: 18px;
	background: url(../img/icons/facebook.png) no-repeat;
}

.icon-instagram{
	width: 18px;
	height: 18px;
	background: url(../img/icons/instagram.png) no-repeat;
}

.icon-pdf{
	width: 59px;
	height: 64px;
	background: url(../img/icons/pdf.png) no-repeat;
}

.icon-download{
	width: 40px;
	height: 40px;
	background: url(../img/icons/download.png) no-repeat;
}