.footer{
	padding: 50px 0 35px;
	border-bottom: 3px solid $primary;
	background: #fff;

	.footer-top,
	.footer-bottom{
		display: flex;
		justify-content: space-between;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 40px;

		> .footer-block{
			padding: 0 15px;
		}
	}

	.footer-bottom{
		padding-top: 20px;
		position: relative;
		margin-bottom: 0;

		&:before{
			content: '';
			display: block;
			width: calc(100% - 30px);
			position: absolute;
			left: 15px;
			top: 0;
			height: 1px;
			background: #ebebeb;
		}
	}

	@media screen and (min-width: 1200px){
		.footer-top{
			.footer-block.left{
				min-width: 310px;
			}
		}
	}

	@media screen and (max-width: 1199px){
		.footer-bottom{
			flex-wrap: wrap;

			.footer-block.left{
				width: 100%;
				margin-bottom: 30px;

				.footer-contacts{
					justify-content: space-between;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		.footer-top{
			flex-wrap: wrap;

			.footer-block.left{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 30px;
			}
		}
	}

	@media screen and (max-width: 767px){
		.footer-top{
			margin-bottom: 10px;

			.footer-block{
				width: 50%;
				margin-bottom: 30px;
			}
		}
	}

	@media screen and (max-width: 575px){
		.footer-top,
		.footer-bottom{
			flex-direction: column;

			.footer-block{
				width: 100%;
				margin-bottom: 30px;

				&.left{
					width: 100%;
					display: block;
				}

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}