$colors: (
	white: #fff,
	text: $text-color,
	primary: $primary,
);

// blue: $blue,
// orange: $orange,
// dark: $text-dark

@each $i in $colors{
	$color-key: nth($i, 1);
	$color-value: nth($i, 2);

	&.color-#{$color-key}{
		color: $color-value !important;
	}
}

.push{
	position: relative;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

.rounded{
	border-radius: $r !important;
}

@media screen and (min-width: 992px){
	.lg-flex-right{
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

@media screen and (max-width: 991px){
	.md-order-1{
		order: 1;
	}

	.md-order-2{
		order: 2;
	}
}

.type{
	display: inline-block;
	padding: 0 8px;
	text-align: center;
	text-transform: uppercase;
	margin-right: 7px;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 11px;
	line-height: 22px;
	font-weight: bold;
	background: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
}

.mCSB_horizontal.mCSB_inside > .mCSB_container{
	margin-bottom: 10px;
}