$section-padding: 85px;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0;
}

html{
	font-size: 15px;
	line-height: 24px;
}

body{
	color: $text-color;
	font-family: $main-font;
	background: $body-bg;
}

a, button{
	text-decoration: none;
	transition: all $t;
	outline: none !important;
	border: none;
}

a img{
	outline: none !important;
	border: none !important;
}

.wrapper{
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 103px;

	@media screen and (max-width: 1199px){
		padding-top: 60px;
	}

	@media screen and (max-width: 991px){
		padding-top: 50px;
	}

	@media screen and (max-width: 575px){
		padding-top: 87px;
	}

	.page{
		flex: auto;
	}

	.footer{
		flex: none;
	}

	.post-content{
		padding-bottom: $section-padding;
	}
}

.section-default-top-padding{
	padding-top: $section-padding;
}

.section-default-bottom-padding{
	padding-bottom: $section-padding;
}

.section-default-paddings{
	padding: $section-padding 0;
}

@media screen and (max-width: 767px){
	.scrollable-container{
		.scrollable-container-inner{
			width: 100%;
			overflow: auto;
		}
	}
}

.modal{
	.modal-content{
		border-radius: $r;
		border: 0;

		.modal-body{
			padding: 35px;
		}
	}

	.modal-dialog{
		margin-top: 70px;

		@media screen and (max-width: 575px){
			width: calc(100% - 30px);
			margin-left: auto;
			margin-right: auto;
		}
	}

	.modal-close{
		position: absolute;
		width: 44px;
		height: 44px;
		background: $primary;
		left: 50%;
		top: -58px;
		transform: translateX(-50%);
		z-index: 5;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all $t;

		i{
			display: block;
		}

		&:hover{
			background: darken($primary, 10%);
		}
	}

	.modal-caption{
		padding-bottom: 15px;
		margin-bottom: 30px;
		position: relative;
		text-align: center;
		text-transform: uppercase;

		&:after{
			content: '';
			display: block;
			height: 2px;
			width: 60px;
			background: $primary;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
		}
	}

	&.narrow{
		.modal-dialog{
			max-width: 340px;
		}
	}
}