// Fonts
$main-font: 'Exo 2', Arial, sans-serif;

// Colors
$orange: #f58220;

$dark: #303030;
$gray: #585858;

$text-color: $dark;
$text-dark: $dark;

$primary: $orange;

// Params
$body-bg: #f3f3f3; // site background
$t: .3s; // animation duration
$r: 7px; // default border radius
$shadow: 0 3px 29px rgba(#000, .15); // default card shadow