.news-block{
	.published{
		margin-bottom: 10px;
	}

	.caption{
		font-size: 19px;
		line-height: 24px;
		font-weight: bold;
		color: $text-color;
		transition: all $t;
		margin-bottom: 15px;
		display: block;

		&:hover{
			color: $primary;
			text-decoration: underline;
		}
	}

	@media screen and (max-width: 991px){
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 3px solid #ebebeb;
	}
}