.phone-link{
	font-size: 22px;
	line-height: 30px;
	color: $text-color;
	text-decoration: none;
	font-weight: 500;
	white-space: nowrap;

	&:hover,
	span{
		color: $primary;
	}

	&.white{
		color: #fff;

		&:hover,
		span{
			color: $primary;
		}
	}

	&.big{
		font-size: 28px;
	}

	@media screen and (max-width: 767px){
		font-size: 18px;
		line-height: 24px;

		&.big{
			font-size: 18px;
			line-height: 24px;
		}
	}
}