.product-images-component{
	.big-image{
		width: 100%;
		height: 470px;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: $r;
		background: #fff;
		margin-bottom: 10px;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.previews-list-wrapper{
		width: 100%;
	}

	.previews-list{
		display: flex;

		> .item{
			flex: none;
			width: 86px;
			height: 86px;
			border: 2px solid transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			border-radius: $r;
			margin-right: 10px;
			transition: all $t;
			background: #fff;
			cursor: pointer;

			&:last-child{
				margin-right: 0;
			}

			&.selected{
				border-color: $primary;
				box-shadow: $shadow;
			}
		}
	}
}