.socials-list{
	list-style: none;
	display: flex;
	align-items: center;

	li{
		margin-right: 6px;

		&:last-child{
			margin-right: 0;
		}

		a{
			display: flex;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			transition: all $t;
			background: #f3f3f3;
			align-items: center;
			justify-content: center;

			&:hover{
				background: $primary;

				&.facebook-link{
					i{
						background-position: -180px -247px;
						transition: all 0;
						transition-delay: 0.15s;
					}
				}

				&.instagram-link{
					i{
						background-position: -194px -247px;
						transition: all 0;
						transition-delay: 0.15s;
					}
				}
			}
		}
	}
}