.dealer-section{
	background: url(../img/backgrounds/dealers-section-bg.jpg) no-repeat center center;
	background-size: cover;

	.dealer-section-content{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		p{
			color: rgba(#fff, .51);
		}

		.dsc-right{
			padding-left: 20px;
			position: relative;
		}

		.send-request{
			display: flex;
			flex-direction: column;
			text-align: center;
			color: #fff;
			position: relative;

			.btn{
				margin-bottom: 40px;
			}

			&:before{
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $primary;
				position: absolute;
				left: -40px;
				top: 18px;
				transition: all $t;
			}

			&:after{
				content: '';
				display: block;
				width: 75px;
				height: 1px;
				background: rgba(#fff, .32);
				position: absolute;
				left: -120px;
				top: 22px;
			}
		}
	}

	@media screen and (max-width: 991px){
		.dealer-section-image{
			margin: 50px auto;
			display: flex;
			justify-content: center;

			img{
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}
}