.innovations-section{
	background: url(../img/backgrounds/innovations-section-bg.jpg) no-repeat center top;
	background-size: cover;
	position: relative;
	overflow: hidden;

	.section-images-slider{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;

		.slide{
			position: relative;
			height: 597px;
			overflow: hidden;
			border: 0;
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}

		.section-image{
			position: absolute;
			max-width: 100%;
		}

		.slide-1,
		.slide-4{
			.section-image{
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.slide-1{
			.section-image{
				left: calc(50% - 260px);
				transform: none;
			}
		}

		.slide-2{
			.section-image{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-height: 100%;
				min-width: 100%;

				img{
					max-width: none;
				}
			}
		}

		.slide-3{
			.section-image{
				right: calc(50% - 947px);
				top: 0;
			}
		}
	}

	.container{
		position: relative;
		z-index: 2;
	}

	@media screen and (max-width: 991px){
		padding-top: 280px;

		.section-images-slider{
			.slide-1,
			.slide-4{
				.section-image{
					bottom: auto;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			.slide-1{
				.section-image{
					top: 10px;
				}
			}

			.slide-2{
				.section-image{
					top: 0;
					left: 50%;
					transform: translate(-50%, 0);
					min-height: 100%;
					min-width: 100%;

					img{
						max-height: 260px;
					}
				}
		}

			.slide-3{
				.section-image{
					right: auto;
					left: -10px;
					max-width: calc(100% + 10px);
				}
			}
		}
	}
}

.innovations-list{
	list-style: none;
	margin-top: 50px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	li{
		position: relative;
		margin-bottom: 25px;
		padding-left: 100px;
		font-size: 19px;
		line-height: 24px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		transition: all $t;
		cursor: pointer;

		&:before{
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #fff;
			position: absolute;
			left: 67px;
			top: 6px;
			transition: all $t;
		}

		&:after{
			content: '';
			display: block;
			width: 60px;
			height: 1px;
			background: rgba(#fff, .32);
			position: absolute;
			left: 0;
			top: 10px;
		}

		&:hover{
			color: $primary;
		}

		&.current{
			color: $primary;

			&:before{
				background: $primary;
				box-shadow: 0 0 24px rgba($primary, .47);
			}
		}
	}
}

.innovations-slider{
	margin-top: 50px;
	margin-right: 63px;

	.slide{
		outline: none !important;
	}

	.slick-arrow{
		position: absolute;
		right: -63px !important;
		left: auto;
		bottom: 0;
		top: auto;
		width: 48px;
		height: 48px;
		transition: all $t;
		border-radius: 50%;
		background: rgba(#000, .14);
		transform: none;
		display: flex !important;
		align-items: center;
		justify-content: center;

		&:before{
			content: '';
			display: block;
			width: 18px;
			height: 11px;
			background: url(../img/icons/icons-sprite.png) no-repeat -109px -218px;
		}

		&:hover{
			background: rgba(#fff, .15);
		}

		&.slick-prev{
			bottom: 58px;

			&:before{
				background-position: -109px -218px;
				margin-top: -3px;
			}

			&:hover{
				&:before{
					background-position: -127px -218px;
				}
			}
		}

		&.slick-next{
			&:before{
				background-position: -109px -229px;
				margin-bottom: -3px;
			}

			&:hover{
				&:before{
					background-position: -127px -229px;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		margin-right: 0;
	}

	@media screen and (max-width: 575px){
		margin-top: 0;
	}
}